
<h1>Kiosk App</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>

   <h1>Enter source location</h1>
   Enter a source location and a radius to search for the closest kiosk.
   <%= form_tag 'booths/find_closest', :method => "get" do %>
   	<%= select_tag 'radius', options_for_select({'1 miles' => 1, '3
   miles' => 3, '5 miles' => 5}, 1) %>
   <input type="text" name="address">
   	<%= submit_tag 'find' %>
   <% end %>

	<div style='width: 800px;'>
	  <div id="map" style='width: 800px; height: 400px;'></div>
	</div>



<% else %>
  <%= link_to "Sign up", new_user_registration_path %> | 
  <%= link_to "Login", new_user_session_path %>
<% end %>


<%= javascript_include_tag "index" %>
